
 .navbar{
   padding: 4rem;
  background-color: rgb(12, 233, 45);
  height: 80vh;
  width: 5vw;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

/* 
.navbar-item a {
  display: block; 
  padding: 1rem 0; 
  text-decoration: none; 
  color: #fff;
}

.navbar-item a:hover {
  color: rgb(222, 234, 220);
  padding: 1rem 0; 
  border-radius: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
} */

.navbar .navbar-item a {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease; 
}

.navbar .navbar-item a:hover {
  color: rgb(35, 187, 15);
  background-color: white;
  transform: scale(1.5); 
  border-radius: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; 
}





@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.h-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  /* background-color: rgb(235, 244, 236); */
  background-color: rgb(10, 163, 33);
  height: 4rem;

  padding: 1.5rem; 
}

.h-navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  width: 100%; 
}

.h-navbar-item {
  text-align: left; 
  position: relative;
  flex: 1; 
}
.navbar-item a {
  text-decoration: none; 
  color: #fff; 
  display: block; 
  padding: 1rem;
  transition: color 0.3s ease; 
}

.navbar-item a:hover {
  color: rgb(19, 20, 19); 
}

.title {
  font-size: 1.7rem;
  color: #e1e6e1;  
  font-weight: bold; 
  font-family: 'Lobster', cursive;
  padding: 2rem;
  text-align: center ;

}

.title a {
  text-decoration: none; 
  color: inherit; 
}

.title a:hover {
  color: rgb(19, 20, 19); 
}
.user-image {
  width: 3rem; 
  height: 3rem;
  border-radius: 50%; 
  margin-right: 0.5rem; 
  object-fit: cover; 
  border: 2px solid #fff; 
}
